* {
  padding: 0px;
}

.registerContainer {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1.4fr;
  width: 100%;
  max-height: 100vh;
  overflow-y: hidden;
  background-image: url(/images/backgorund_img_register.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.introdction_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-height: 100vh;
}

.CreateAccount_register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-height: 100vh;
}

.Register_information_container {
  display: flex;
  flex-direction: column;
  width: 60vh;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0;
}

.Principal_text_introduction,
.Principal_text_create {
  font-family: var(--font-family);
  font-weight: 700px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  text-align: center;
}

.Principal_text_introduction {
  color: var(--secondary-50);
}

.Principal_text_create {
  color: var(--main-500);
}

.Secondary_text_introduction {
  font-family: var(--second-family);
  font-weight: 100px;
  font-size: 20px;
  color: var(--secondary-50);
  text-align: center;
}
