.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 600px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }
}