.footer-container {
    display: flex;
    flex-direction: column;
    padding: 100px 72px 32px 72px;
}

.content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.content-footer h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 25px;
    text-transform: lowercase;
    color: var(--text-black);
    
}

.content-footer h1 span {
    color: var(--main-500);
    
}

.footer-navbar {
    display: flex;
    flex-direction: row;
    gap: 64px;

    
}

.footer-navbar-link {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--secondary-950);
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.social-icon {
    color: var(--main-500);
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.copyright h3 {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: var(--text-light-gray);
}

.footer-divider {
    border: 0;
    border-top: 1px solid #e0e0e0;
    margin: 1.5rem 0;
}