* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--secondary-50);
  font-family: var(--font-family);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-50);
}

.page-content {
  flex-grow: 1;
}
